@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.show {
    transform: translateY(-20px);
   }

ul,ol {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar-toggle,
.navbar-close-toggle {
    cursor: pointer;
    border: 0;
    display: none;
    background-color: transparent;
    color: #f3e9e9;
    font-size: 1.5rem;
    font-weight: 700;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    height: 15vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    cursor: pointer;
    height: auto;
    width: 7vw;
}

.logo h1 {
    color: blue;
    font-size: 1rem;
    text-align: center;
}

nav {
    display: flex;
}

.right-nav li a {
    font-size: 0.8rem;
    color: #5252ac;
}

.left-nav  li a {
    font-size: 0.8rem;
    color: #5252ac;
    transition: background-color .2s ease-in;
}

.left-nav li a:hover {
    display: block;
    background-color: rgb(68, 216, 68);
    padding: 1rem;
    color: #ffffff;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.left-nav {
    margin-right: 6rem;
}

.right-nav li a {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    width: 5rem;
    background-color: #5252ac;
    color: #ffffff;
    transition: background-color .5s ease-in;
}

.right-nav li a:hover {
    background-color: #2190d7;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 0 ;
}

.dropdown i {
    display: none;
}

.dropdown-item {
   display: none;
   position: absolute;
   background-color: #bdbde6;
   min-width: 10rem;
   padding: 0.8em 1rem;
   z-index: 1;
}

.dropdown-item a {
    padding: 0.7rem;
}

.dropdown:hover .dropdown-item {
      display: flex;
      flex-direction: column;
}

.dropdown-item li a:hover {
    color: #ddd;
}
@media (max-width:1025px){
    .header{
        height: fit-content;
    }
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 3rem;
        z-index: 5;
        color: #000;
    }

    nav {
        top: 15vh;
        right: 0%;
        width: 70%;
        height: 100vh;
        text-align: center;
        height: 100%;
        display: block;
        position: relative;
        z-index: 4;
        background-color: #00bfff;
        transform: translateX(00px);
    }
    .left-nav {
        width: 100%;
        margin-right: 0rem;
        display: block;
        align-items: center;
        margin-right: 1rem;
    }


    .dropdown i{
        padding-right: 7rem;
        color: #ccc;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .department {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .home-appointment img {
        width: 100%;
    }

    .sub-container img {
        width: 100%;
    }

    .show {
        transform: translateY(-20px);
       }
       
} 

/* HERO-PAGE */
.hero-page {
    background-image: url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    text-align: left;
    width: 100%;
    align-items: left; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 2rem;
}

.hero-page h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
 }

.hero-page p {
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
}

 .btn {
    display: inline-block;
    margin-top: 20px;
    width: 7rem ;
    background-color:#17a2b8;
    padding: 0.7rem 0.3rem 0.7rem 0.7rem; 
    font-weight: 600;
    border-radius: 2px;
 }

.btn a {
    text-decoration: none; 
    font-size: 0.8rem;  
    color: #fff;
}

 .btn:hover {
    background-color: #00bfff;
}

.overlay{
    border-image-source: linear-gradient(
            hsla(0, 0%, 0%,0.5),
            hsla(0, 0%, 0%, 0.5));
     border-image-slice: fill 1;
     height: 80vh;
     width: 100%; 
}
    
 /* CONTAINER */
 .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 0 2rem;
    margin-top: -7rem;
 }

 .inner-container {
    background-color: #96cff3;
    padding: 2rem;
    border-radius: 1rem;
 }

 .container p {
    font-size: 0.9rem;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 .inner-container a {
    padding: 0.5rem 1rem;
    width: 5rem;
    background-color: #8888cc ;
    color: #ffffff;
    transition: color .5s ease-in;
    border-radius: 0.5rem;
 }

.inner-container a:hover {
    color: rgb(75, 187, 75);
}

 span{
    font-size: 1.1rem;
    color: #ffffff;
 }

 h4 {
    font-size: 1.2rem;
    color: #ffffff;
 }

 .font i {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
 }

 /* CUBE */
 .cube {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #74bdeb;
    gap: 5rem;
    padding: 2rem;
    margin:2rem 0;
 }

 .inner-cube {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem 1rem;
 }

strong {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight:300 ;
 }

 h5 {
    font-size: 1rem;
    font-weight: 400;
    border-top: 1.5px solid #ddd;
    padding-top: 1rem;
 }

 .inner-cube p {
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 1rem;
 }

 /* SUB-CONTAINER*/
 .sub-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    padding:3rem 2.5rem;
 }

 .sub-image img {
    border-radius: 1rem;
 }

 .sub-text h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
 }

 .sub-text p {
    font-size: 1rem;
    margin-bottom: 2rem;
 }

 .sub-text a {
    background-color: #2190d7;
    padding: 1rem;
    border-radius: 1rem;
    color: #ffffff;
 }

 .sub-text a:hover {
    background-color: #00bfff;
 }

 /* HOME-APPOINMENT */
 .home-appointment{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    background-color: #f2f2f2;
    padding:2rem 4rem;
 }

 .hsub-appointment h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
 }

 .hsub-appointment p {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.2;
 }

 .hsub-appointment a {
    color: #ffffff;
    background-color: #5252ac;
    padding: 1rem 2rem;
 }

 /* HEALTH */

 .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
 }

.box-inner {
    background-color: #00bfff;
    padding: 2rem;
    border-radius: 2rem;
}

.box-inner2 {
    background-color: #2190d7;
    padding: 2rem; 
    border-radius: 2rem;
}

.box-inner a{
    background-color: #2190d7;
    color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
}

.box-inner2 a {
    background-color: #00bfff;
    color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
}

.health h3 {
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.health p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

.health a:hover{
    color: maroon;
}

 .health h2 {
    text-align: center;
    margin-bottom: 2rem;
 }

 

 /* DEPARTMENT */
 .department {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 3rem;
    /* background-color: rgb(240, 245, 247); */
    margin-bottom: 2rem;
 }

 .inner-department {
    background-color: #f2f2ff;
    border-radius: 1rem;
    padding: 4rem 2rem 4rem 3rem;
 }

 .content {
    display: flex;
    gap: 1rem;
    text-align: center;
 }

 .content h3 {
    font-size: 1.5rem;
    margin-bottom:2rem ;
 }

.content i {
    font-size: 3rem;
}

 .inner-department p {
    font-size: 1rem;
 }


 /* APPOINTMENT */
 .appointment {
    background-image: url(/images/appointment.avif);
    background-size: cover ;
    width: 100%;
    height: 40vh;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
 }

 .appointment h3 {
    color: #ffffff;
    font-size: 2rem;
    padding-top: 4rem;
 }

.appointment a {
    color: #ffffff;
    font-size: 1.2rem;
}

.appointment p {
    color: #ffffff;

}


/* SUB-APPOINTMENT */
.sub-appointment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

.innersub-appointment {
    background-color: #fff;
    padding: 2rem;
   border-top-left-radius: 2rem;
   border-bottom-left-radius: 2rem;
   box-shadow: 2px 0px 5px #f2f2f2 inset;
}

#appt-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

#appt-forms {
    display: grid;
    gap: 1rem;
}

.sub-appointment input,select {
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: 1px solid black;
}

textarea {
    border-radius: 1rem;
    height: 20vh;
    padding: 1rem;
    border: 1px solid black;
}

.btn1 {
    background-color: #17a2b8;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 1.5rem;
}

.btn1:hover {
    background-color: #2190d7;
}

.innersub-appoiment {
    background-color: rgb(226, 240, 245);
    padding: 2rem 3rem;
    border-top-right-radius: 2rem;
   border-bottom-right-radius: 2rem;
}

.innersub-appoiment h3 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.innersub-appoiment p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.innersub-appoiment ul li {
    line-height: 1.5;
    list-style: square;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.innersub-appoiment h4 ,span {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}

.contactus {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactus a {
    color: #000;
}


 /* FOOTER */
footer {
    background-color: #2190d7;
    padding:2rem 2rem 1rem 2rem;
}
  
.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.image {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-about img {
    width: 5vw;
}

.footer-about h3 {
    color: #ffffff;
    font-size: 1.3rem;
}

.footer-about p {
    color: #f2f2f2;
    font-size: 1.05rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.socials {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
}

.socials i {
    font-size: 1rem;
    border: 1px solid #000;
    background-color: #000; 
    color: #ffffff;
    border-radius: 1.8rem;
    padding: 1rem;
}

.footer-services {
    margin-left: 5rem;
    margin-top: 1rem;
}

.footer-container h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.footer-support {
    margin-top: 1rem;
}

.footer-support h4 {
    margin-bottom: 1rem;
}

.footer-contact {
    margin-top: 1rem;
}

.footer-container a {
    color: #f2f2f2;
    line-height: 1.5;
    font-size: 1.05rem;
}

.footer-container a:hover {
    color: green;
}

.footer-contact p {
    color: #000;
    font-size: 1.05rem;
}

.footer-container span {
    font-size: 1.2rem;
}

.footer-contact p:hover {
    color: #00bfff;
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
}

#form {
    display: flex;
    width: 100%;
}

.subscribe h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
}

.footer-container input {
    padding: 1.2rem;
    width: 20rem;
    background-color: #7db2d3;
    border-radius: 2rem;
    border: none;
    font-size: 0.8rem;
}

.footer-container button {
    cursor: pointer;
    position: absolute;
    margin-left: 15rem;
    padding: 1.2rem;
    border-radius: 2rem;
    border: none;
    color: #00bfff;
}

.copyright {
    text-align: center;
    color: #ffffff;
}

.copyright p {
    margin-top: 1rem;
}

/* VACCINATION */

/* main {
    padding: 20px;
} */

#vaccine-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    width: 200px;
}

#vaccine-form input, select {
    padding: 5px;
    width: 50%;
}

#vaccine-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#vaccine-form button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

/* MEDIA-QUERY */

@media (max-width:912px) {

    .box {
        display: grid;
        gap: 1rem;
        /* grid-template-columns: 1fr; */
        /* align-items: center;
        width: 50%;
        margin-left: 10rem; */
    }

    .cube {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sub-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .home-appointment {
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column-reverse;
    }

    .footer-container {
        gap: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* .footer-services {
        margin-right:3rem ;
    } */
}